
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Color styles */

:root{
--white-bg: #FFFFFF;
--blue-btn: #0061FF;
--lightgrey: #B4D0E7;
--black: #000000;
--lightgreen: #A2D39B;
--bordeaux: #61082B;
--light-blue: #0093CE;
--red: #FF1C1C;
--designit-grey: #F5F5F5;
--dark-red: #D5001F;
--dark-blue: #0D2481;
--yellow: #FFD830;

}

.debug{
    border: 1px solid red;
}


/* header */
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--lightgrey);



}



/* body */

body{
    font-family: 'Open Sans', sans-serif;
}

/* main */
main{
    padding-top: 70px;

}

/* footer */

footer{
    max-width: 100%;
    border: 1px solid red;
}


/* container */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.inner-container{
    max-width: 1000px;
    margin: 0 auto;
}

#clie-logos{
    max-width: 100%;
}


/* PULSANTI */


.head-btn{
    padding: 5px 15px;
    background-color: var(--blue-btn);
    color: var(--white-bg);
   
}


/* flex */


.d-flex{
    display: flex;
    flex-flow: row wrap;

}

.justco-spacebtw{
    justify-content: space-between;
}

.justco-start{
    justify-content: start;
}

.aligit-center{
    align-items: center;

}

.aligcon-center{
    align-content: center;
}


/* text */

ul{
    list-style: none;
}

/* 
header li{
    padding: 0 10px;
} */

header a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #000000;
    padding: 0 10px;
    
}


/* IMG */


.logo-head{
    width: 80%;
   
}



/* colori */

