
/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Color styles */

:root{
--white-bg: #FFFFFF;
--blue-btn: #0061FF;
--lightgrey: #B4D0E7;
--black: #000000;
--lightgreen: #A2D39B;
--bordeaux: #61082B;
--light-blue: #0093CE;
--red: #FF1C1C;
--designit-grey: #F5F5F5;
--dark-red: #D5001F;
--dark-blue: #0D2481;
--yellow: #FFD830;

}

.debug{
    border: 1px solid red;
}


/* header */
header{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--lightgrey);
    background-color: var(--white-bg);



}



/* body */

body{
    font-family: 'Open Sans', sans-serif;
}

/* main */
main{
    padding-top: 70px;

}


#hero{
    background-color: var(--lightgrey);
}

#trial{

    max-width: 100%;
    background-color: var(--lightgrey);

}

/* footer */

footer{
    max-width: 100%;
    border: 1px solid red;
}


/* container */

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

.inner-container{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 100px;
    
}

#clie-logos{
    max-width: 100%;
}

.hero-left{
    width: 30%;
}


.hero-right{
    width: 70%;
    position: relative;
    top: 0;
}




/* PULSANTI */


.head-btn{
    padding: 5px 15px;
    background-color: var(--blue-btn);
    color: var(--white-bg);
   
}


.blue-body-btn{
    padding: 10px 15px;
    background-color: var(--blue-btn);
    color: var(--white-bg);

}


/* flex */


.d-flex{
    display: flex;
    flex-flow: row wrap;

}

.no-wrap-flex{
    display: flex;
    flex-flow: row nowrap;
}

.justco-spacebtw{
    justify-content: space-between;
}

.justco-start{
    justify-content: start;
}

.aligit-center{
    align-items: center;

}

.aligcon-center{
    align-content: center;
}


/* text */

ul{
    list-style: none;
}




header a{
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--black);
    padding: 0 10px;
    
}

#hero h1{
    font-size: 4.5rem;
    padding: 80px 0 40px 0;
    font-weight: 900;
    
}

#hero li{
    padding-bottom: 25px;
}

#hero a{

    text-decoration: none;
    display: inline-block;
}


/* freccia giu hero */

.hero-left li:last-child{
    font-size: 2.3rem;
    margin: 30px 0 -20px 0;
}

.black-text{

    color: var(--black);
}






/* IMG */


.logo-head{
    width: 80%;
   
}


.jumbo-img{
    width: 90%;
    position: absolute;

}


/* colori */

